
head{
    height: 10px; /* ALTURA DA SECTION */
    padding-top: 0px;
    background-color: violet;

}

header{
    background-color: blue;
    height: 40px;
}
body{
    background-color: yellow;
}

.img{
    width: 99.7%; /* LARGURA DA SECTION */
    height: 2px; /* ALTURA DA SECTION */
    background-color: orange;
    background-image: url("imagens/skate_virado.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 98px;
    color: black;
}

.parte_superior{
    width: 99.7%; /* LARGURA DA SECTION */
    height: 2px; /* ALTURA DA SECTION */
    background-color: orange;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 98px;
    color: black;
}