body{
    margin: 0px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container{
    max-width: 1300px; /*MAXIMO DE LARGURA */
    min-width: 600px; /*MINIMO DE LARGURA */
    margin: auto; /*SITE CENTRALIZADO - NO CASO O HEADER*/
}

header{/*ELEMENTO ESTA DENTRO DO CONTAINER*/
        width: 96%;
        height: 80px;
       background-color: #000;
       color: white;
       position: fixed;
}

header ul li {
    /*    list-style-type: none;*/
        display: inline-block; /*MENU EM LINHA*/ 
        top: 1px;
        margin: 2px;
        margin-left: 100px;  
        font-size: 12px;
    }

    header ul li :hover{

        background-color: gray;
    }
    
    header ul li a{
        color: thistle;
        text-decoration: solid;
    }

    .divisoria {/*ELEMENTO ESTA DENTRO DO CONTAINER - barra cinza de divisão Menu das imagens*/
        width: 100%;
        height: 5px; 
        background-color:grey;
     
}

nav{/*ELEMENTO ESTA DENTRO DO CONTAINER*/
        width: 100%;
        height: 20px;
        background-color:#000;
}

#adulto{
    width: 99.7%; /* LARGURA */
    height: 510px; /* ALTURA DA SECTION */
    background-color: orange;
    background-image: url("imagens/skate4.jpg");
    /*background-size: 1000px;*/
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 98px;
    color: white;
}

#criança{
    width: 99.7%;  /* LARGURA */
    height: 550px; /* ALTURA DA SECTION */
    background-color:orange;
    background-image: url("imagens/crianca2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}
#profissionais{
    width: 100%;
    height: 600px; /* ALTURA DA SECTION */
    background-color:orange;
    background-position: center;
    background-image: url("imagens/skate3.jpg");
    background-size: 1000px;
    background-repeat: no-repeat;

}

main{
    width: 100%;
    height: 500px;
    background-color: purple;
}

#noticias{
    width: 65%;
    height: 500px;
    background-color: coral;
    float: left; /*FLOAT PERMITE QUE O ELEMENTO FIQUE AO LADO*/
}

main aside{
    width: 30%;
    height: 500px;
    background-color: yellow;
    float: right;/*FLOAT PERMITE QUE O ELEMENTO FIQUE AO LADO*/
}

footer{
    width: 100%;
    height: 100px;
    background-color: green;    
}

